Eatance_mrp_food_order.json
{
  "nodes": [
    {
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a voice assistant for a food ordering app.\n\nYour job is to extract the following fields by considering the FULL conversation history, not just the latest message. If a field was mentioned in a previous message, carry it forward:\n\n\"item\": the main food item (e.g., pizza, burger)\n\"restaurant\": name of the restaurant if mentioned\n\"add_ons\": any toppings or modifiers the user mentions (e.g., double cheese, spicy, large size)\n\nYou are also given a dynamic list of valid restaurant names as \"restaurantList\". Use this list strictly for validation and matching.\n🛠 Speech-to-Text Correction Rule\nThe user input is generated using speech-to-text and may contain incorrect or misheard words.\nCorrect ONLY words that are phonetically garbled or clearly misspelled (e.g., \"pija\" → pizza, \"burget\" → burger, \"Mek donald\" → McDonald's).\n\n🔍 Restaurant Matching Rule\nBefore finalizing the \"restaurant\" field:\n\nSTEP 1 — EXACT MATCH CHECK (Highest Priority):\nStrip leading/trailing whitespace from the user input and compare it character-by-character against every name in \"restaurantList\".\nIf it matches exactly (case-insensitive), return that restaurant name as-is from the list. DO NOT modify spacing, punctuation, or any character. Skip all STT correction for this value.\n\nSTEP 2 — FUZZY MATCH (only if no exact match found):\nIf the input closely matches (phonetically or partially) any restaurant in the list, map it to the EXACT string from the list.\n\nExample:\n\"spice symphoni\" → \"Spice Symphony\"\n\"urban eats\" → \"UrbanEats Cafe\"\nUse fuzzy/phonetic matching but be conservative:\nMatch only if confidence is high (clear similarity).\nDo NOT randomly guess a restaurant.\nIf a match is found, ALWAYS return the exact restaurant name from the list (no modification).\nIf no confident match is found, keep the original spoken text (after basic STT correction if needed).\n\n🚫 STRICT RULES to prevent over-correction:\n\nIf a restaurant name exactly matches or already exists in \"restaurantList\" (case-sensitive), return it VERBATIM from the list.\nDo NOT modify formatting, spacing, punctuation, or casing of matched restaurant names.\nOnly correct a word if it is clearly not a valid English word or known name on its own.\nDo NOT add, remove, or change articles (a, an, the) in restaurant or item names.\nWhen in doubt, keep the original word — do not guess or \"improve\" proper nouns.\n\nStrictly follow these Status Rules:\n0: ONLY if the user mentions a restaurant name but NO food item\n1: ONLY if the user mentions a food item but NO restaurant name\n2: ONLY if BOTH a restaurant name AND a food item are mentioned\n3: For ALL other cases — including greetings (e.g. \"Hi\", \"Hello\"), general questions (e.g. \"How are you\"), or anything unrelated to placing a food order\n4: ONLY if the user is completely clueless — unsure about both what to eat AND where to order from, with NO food item and NO restaurant name present\n5: ONLY if the user knows what food item they want but is unsure which restaurant to order from — food item IS present but restaurant name is NOT\n6: ONLY if the user knows which restaurant they want to order from but is unsure what to order — restaurant name IS present but food item is NOT\n\n\nMessage Rules\n\nGenerate a \"message\" field — a sentence the assistant will speak to the user.\n\nDo NOT include add-ons in the message\nOnly confirm the item and restaurant\nIf any field is missing, politely ask for the missing information\nDon't ask for item if only restaurant name is mentioned\nIf the user is not familiar with restaurants, ask if they want suggestions\nIf item and restaurant are already known from previous messages, do NOT ask again\n\nIMPORTANT\nRespond with only valid JSON\nDo not include markdown, bullet points, or explanation\nDo not wrap the JSON in triple backticks\nDo not speak outside the JSON\n\nResponse Format\n\n{\n\"item\": \"pizza\",\n\"restaurant\": \"Dominos\",\n\"add_ons\": [\"double cheese\"],\n\"message\": \"👍\",\n\"status\": 3\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1104,
        2848
      ],
      "id": "ca7c4d84-3b3c-4a94-b020-3b75e039a95f",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        992,
        3120
      ],
      "id": "7cc1122b-f736-4000-80d9-26d55ae374e0",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "hq2foWb9S3cxwz5S",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"user_input_item\": { \"type\": \"string\" },\n    \"user_input_restaurant\": { \"type\": \"string\" },\n    \"user_input_add_ons\": {\n      \"type\": \"array\",\n      \"items\": { \"type\": \"string\" }\n    },\n    \"message_for_user\": { \"type\": \"string\" },\n    \"user_input_status\": { \"type\": \"number\" }\n  },\n  \"required\": [\"user_input_item\", \"user_input_restaurant\", \"user_input_add_ons\", \"message_for_user\", \"user_input_status\"]\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1344,
        3120
      ],
      "id": "14277919-5791-4ea2-a0ec-50a715a5c357",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "jsCode": "return [{ \n  json: {\n    lastExecutedNode: \"no restaurant name\",\n    message: \"Please enter the name of the restaurant.\" \n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3792,
        2576
      ],
      "id": "5313e716-0980-44d8-9830-86ad1077a377",
      "name": "no restaurant name"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n      lastExecutedNode: \"no Item name\",\n      message: \"Please enter the name of the item you want to order.\"\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3792,
        2352
      ],
      "id": "fff8cb0f-c878-41e1-ba57-25d06c18ab62",
      "name": "no item name"
    },
    {
      "parameters": {
        "jsCode": "const userData = $json.userData[0].json;\nconst restaurants = $json.allRestaurantsData.restaurant;\n\nconst userRestaurant = userData.userInputRestaurant.toLowerCase().trim();\n\nconst matchedRestaurant = restaurants.find(r => \n  r.name.toLowerCase().trim().includes(userRestaurant) || \n  userRestaurant.includes(r.name.toLowerCase().trim())\n);\n\nif (matchedRestaurant) {\n  return [{\n    json: {\n      isRestaurantAvailable: 1,\n      restaurantId: matchedRestaurant.restuarant_id,\n      restaurantName: matchedRestaurant.name,\n      userInputItem: userData.userInputItem,\n      userInputRestaurant: userData.userInputRestaurant,\n      userInputAddOns: userData.userInputAddOns,\n      userMessage: userData.userMessage,\n      userInputStatus: userData.userInputStatus,\n      userData: userData\n    }\n  }];\n} else {\n  return [{\n    json: {\n      isRestaurantAvailable: 0,\n      message: `No restaurant found matching \"${userData.userInputRestaurant}\"`,\n      userInputItem: userData.userInputItem,\n      userInputRestaurant: userData.userInputRestaurant,\n      userInputAddOns: userData.userInputAddOns,\n      userMessage: userData.userMessage,\n      userInputStatus: userData.userInputStatus,\n      userData: userData\n    }\n  }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4288,
        2784
      ],
      "id": "581aa419-dc5f-43ca-b2f3-f7bc34d1ebd8",
      "name": "handle api"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mrpdev.eatanceapp.com/v6/api/getHome",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $json.authorizationToken }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "language_slug",
              "value": "={{ $json.languageSlug }}"
            },
            {
              "name": "latitude",
              "value": "={{ $json.latitude }}"
            },
            {
              "name": "longitude",
              "value": "={{ $json.longitude }}"
            },
            {
              "name": "distance",
              "value": "={{ $json.distance }}"
            },
            {
              "name": "page_no",
              "value": "={{ $json.pageNo }}"
            },
            {
              "name": "count",
              "value": "={{ $json.count }}"
            },
            {
              "name": "user_id",
              "value": "={{ $json.userId }}"
            },
            {
              "name": "user_timezone",
              "value": "={{ $json.userTimezone }}"
            },
            {
              "name": "response_flag",
              "value": "={{ $json.responseFlag }}"
            },
            {
              "name": "platform",
              "value": "={{ $json.platform }}"
            },
            {
              "name": "orderMode",
              "value": "={{ $json.orderMode }}"
            },
            {
              "name": "food",
              "value": "={{ $json.food }}"
            },
            {
              "name": "app_token",
              "value": "={{ $json.appToken }}"
            },
            {
              "name": "category_id",
              "value": "={{ $json.category_id }}"
            },
            {
              "name": "offersFreeDelivery",
              "value": "={{ $json.offersFreeDelivery }}"
            },
            {
              "name": "sortBy",
              "value": "={{ $json.sortBy }}"
            },
            {
              "name": "availability",
              "value": "={{ $json.availability }}"
            },
            {
              "name": "itemSearch",
              "value": "={{ $json.userInputRestaurant }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3392,
        2784
      ],
      "id": "37dcd9f7-f460-4b40-9588-7e4ef517f74e",
      "name": "Get restaurant api"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('input for AI model').item.json.sessionId }}",
        "contextWindowLength": 8000
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1152,
        3120
      ],
      "id": "6686531b-6635-4dc0-af55-0cbb40955bae",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      userData: $input.all()\n    }\n  }\n]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3472,
        3024
      ],
      "id": "7a7b8701-8d3c-462e-b8bf-2cfb391e660e",
      "name": "returning user input"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "09cdb1c1-8869-4bdb-a52d-c08a4a344fc0",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        640,
        2800
      ],
      "id": "846950a8-02a5-41ba-829f-7f10cc7396e2",
      "name": "Webhook",
      "webhookId": "09cdb1c1-8869-4bdb-a52d-c08a4a344fc0"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mrpdev.eatanceapp.com/v6/api/getRestaurantDetail",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $json.userData.authorizationToken }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "language_slug",
              "value": "={{ $json.userData.languageSlug }}"
            },
            {
              "name": "restaurant_id",
              "value": "={{ $json.restaurantId }}"
            },
            {
              "name": "content_id",
              "value": "={{ $json.restaurantId }}"
            },
            {
              "name": "food",
              "value": "=\"\""
            },
            {
              "name": "price",
              "value": "\"\""
            },
            {
              "name": "availability",
              "value": "0"
            },
            {
              "name": "user_id",
              "value": "={{ $json.userData.userId }}"
            },
            {
              "name": "isEvent",
              "value": "0"
            },
            {
              "name": "send_categories",
              "value": "0"
            },
            {
              "name": "user_timezone",
              "value": "={{ $json.userData.userTimezone }}"
            },
            {
              "name": "platform",
              "value": "={{ $json.userData.platform }}"
            },
            {
              "name": "app_token",
              "value": "={{ $json.userData.appToken }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        4928,
        2800
      ],
      "id": "9dbf6575-33a5-44de-b872-9cfe3e3f6289",
      "name": "getRestaurantDetail api"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mrpdev.eatanceapp.com/v6/api/getRestaurantCategories",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $json.userData.authorizationToken }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "language_slug",
              "value": "={{ $json.userData.languageSlug }}"
            },
            {
              "name": "restaurant_id",
              "value": "={{ $json.restaurant[0].restuarant_id }}"
            },
            {
              "name": "app_token",
              "value": "={{ $json.userData.appToken }}"
            },
            {
              "name": "availability",
              "value": "=0"
            },
            {
              "name": "content_id",
              "value": "={{ $json.restaurant[0].restuarant_id }}"
            },
            {
              "name": "food",
              "value": "\"\""
            },
            {
              "name": "isEvent",
              "value": "0"
            },
            {
              "name": "platform",
              "value": "={{ $json.userData.platform }}"
            },
            {
              "name": "price",
              "value": "\"\""
            },
            {
              "name": "user_timezone",
              "value": "={{ $json.userData.userTimezone }}"
            },
            {
              "name": "category_id",
              "value": "\"\""
            },
            {
              "name": "count",
              "value": "10"
            },
            {
              "name": "page_no",
              "value": "1"
            },
            {
              "name": "send_foodtypes",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        5856,
        2640
      ],
      "id": "89c13864-1cd8-41ed-9a09-218d4ef03d91",
      "name": "getRestaurantCategories api"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mrpdev.eatanceapp.com/v6/api/searchRestaurantMenu",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $json.userData.authorizationToken }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "app_token",
              "value": "={{ $json.userData.appToken }}"
            },
            {
              "name": "assigned_food_types",
              "value": "={{ $json.assigned_food_types }}"
            },
            {
              "name": "availability",
              "value": "={{0}}"
            },
            {
              "name": "content_id",
              "value": "={{ $json.restaurantData.contentId }}"
            },
            {
              "name": "count",
              "value": "={{10}}"
            },
            {
              "name": "food",
              "value": "={{ \"\" }}"
            },
            {
              "name": "item_type",
              "value": "={{\"1\"}}"
            },
            {
              "name": "language_slug",
              "value": "={{ $json.userData.languageSlug }}"
            },
            {
              "name": "menu_search",
              "value": "={{ $json.userData.userInputItem }}"
            },
            {
              "name": "page_no",
              "value": "={{1}}"
            },
            {
              "name": "platform",
              "value": "={{ $json.userData.platform }}"
            },
            {
              "name": "price",
              "value": "={{\"\"}}"
            },
            {
              "name": "restaurant_id",
              "value": "={{ $json.restaurantData.restaurantId }}"
            },
            {
              "name": "shouldShowKeyboard",
              "value": "={{true}}"
            },
            {
              "name": "user_timezone",
              "value": "={{ $json.userData.userTimezone }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        6704,
        2624
      ],
      "id": "5cc2f340-1b8d-4337-8ec2-82c49dd00414",
      "name": "searchRestaurantMenu api"
    },
    {
      "parameters": {
        "jsCode": "return {\n  json: {\n     userData: $input.first().json.userData\n  }\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4928,
        3024
      ],
      "id": "fa80a24d-4c8c-4a85-848c-75c73f85f14d",
      "name": "Code in JavaScript10"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mrpdev.eatanceapp.com/v6/api/addtoCart",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $json.Authorization }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "app_token",
              "value": "={{ $json.requestBody.app_token }}"
            },
            {
              "name": "cart_id",
              "value": "={{ $json.requestBody.cart_id }}"
            },
            {
              "name": "coupon_array",
              "value": "={{[]}}"
            },
            {
              "name": "driver_tip",
              "value": "={{ \"\" }}"
            },
            {
              "name": "earning_points",
              "value": "={{ \"\" }}"
            },
            {
              "name": "is_creditcard",
              "value": "={{ $json.requestBody.is_creditcard }}"
            },
            {
              "name": "isLoggedIn",
              "value": "={{ $json.requestBody.isLoggedIn }}"
            },
            {
              "name": "is_wallet_applied",
              "value": "={{ $json.requestBody.is_wallet_applied }}"
            },
            {
              "name": "items",
              "value": "={{ $json.requestBody.items }}"
            },
            {
              "name": "language_slug",
              "value": "={{ $json.requestBody.language_slug }}"
            },
            {
              "name": "latitude",
              "value": "={{ $json.requestBody.latitude }}"
            },
            {
              "name": "longitude",
              "value": "={{ $json.requestBody.longitude }}"
            },
            {
              "name": "order_delivery",
              "value": "={{ $json.requestBody.order_delivery }}"
            },
            {
              "name": "platform",
              "value": "={{ $json.requestBody.platform }}"
            },
            {
              "name": "restaurant_id",
              "value": "={{ $json.requestBody.restaurant_id }}"
            },
            {
              "name": "scheduled_date",
              "value": "={{ $json.requestBody.scheduled_date }}"
            },
            {
              "name": "slot_close_time",
              "value": "={{ $json.requestBody.slot_close_time }}"
            },
            {
              "name": "slot_open_time",
              "value": "={{ $json.requestBody.slot_open_time }}"
            },
            {
              "name": "tip_percent_val",
              "value": "={{ $json.requestBody.tip_percent_val }}"
            },
            {
              "name": "user_id",
              "value": "={{ $json.requestBody.user_id }}"
            },
            {
              "name": "user_timezone",
              "value": "={{ $json.requestBody.user_timezone }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        8192,
        3056
      ],
      "id": "b542149c-a18c-442e-9480-6fe806fb0ef4",
      "name": "addtoCart  api"
    },
    {
      "parameters": {
        "jsCode": "var languageSlug = String($input.first().json.body.languageSlug ?? '')\nvar latitude = String($input.first().json.body.latitude ?? '')\nvar longitude = String($input.first().json.body.longitude ?? '')\nvar distance = String($input.first().json.body.distance ?? '')\nvar pageNo = String($input.first().json.body.pageNo ?? '0')\nvar count = String($input.first().json.body.count ?? '0')\nvar userId = String($input.first().json.body.userId ?? '')\nvar userTimezone = String($input.first().json.body.userTimezone ?? '')\nvar responseFlag = String($input.first().json.body.responseFlag ?? '0')\nvar platform = String($input.first().json.body.platform ?? '')\nvar orderMode = String($input.first().json.body.orderMode ?? '0')\nvar food = String($input.first().json.body.food ?? '')\nvar appToken = String($input.first().json.body.appToken ?? '')\nvar auth = String($input.first().json.body.auth ?? '')\nvar category_id = String($input.first().json.body.category_id ?? '')\nvar offersFreeDelivery = String($input.first().json.body.offersFreeDelivery ?? '0')\nvar sortBy = String($input.first().json.body.sortBy ?? '')\nvar availability = String($input.first().json.body.availability ?? '')\n// var itemSearch = String($input.first().json.body.itemSearch ?? '')\nvar cartId = String($input.first().json.body.cartId ?? '')\nvar resId = String($input.first().json.body.resId ?? '')\nvar rawAuth = $input.first().json.headers['authorization']\nvar authorizationToken = rawAuth.startsWith('Bearer ') \n  ? rawAuth.slice(7)  // remove \"Bearer \" prefix\n  : rawAuth\n\nreturn [\n  {\n    json: {\n      languageSlug,\n      latitude,\n      longitude,\n      distance,\n      pageNo,\n      count,\n      userId,\n      userTimezone,\n      responseFlag,\n      platform,\n      orderMode,\n      food,\n      appToken,\n      auth,\n      category_id,\n      offersFreeDelivery,\n      sortBy,\n      availability,\n      cartId,\n      resId,\n      // itemSearch,\n      authorizationToken\n    }\n  }\n]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        2480
      ],
      "id": "18f112af-1b16-48d5-a921-40ea21442287",
      "name": "data from user"
    },
    {
      "parameters": {
        "jsCode": "var chatInput = $input.first().json.body.chatInput\nvar sessionId = $input.first().json.body.sessionId\nvar restaurantList = $input.first().json.body.restaurantList\n\nreturn [\n  {\n    json: {\n      chatInput,\n      sessionId,\n      restaurantList\n    }\n  }\n]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        864,
        2848
      ],
      "id": "cb2c02ce-d907-4c4b-bdee-e5fd99475825",
      "name": "input for AI model"
    },
    {
      "parameters": {
        "jsCode": "return[\n  {\n    json: {\n      userInputItem: $input.first().json.output.user_input_item,\n      userInputRestaurant: $input.first().json.output.user_input_restaurant,\n      userInputAddOns: $input.first().json.output.user_input_add_ons,\n      messageForUser: $input.first().json.output.message_for_user,\n      userInputStatus: $input.first().json.output.user_input_status\n    }\n  }\n]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1456,
        2848
      ],
      "id": "1a617f72-fed4-42f8-8372-0b60ab7611cd",
      "name": "output from AI"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1616,
        2672
      ],
      "id": "a84f2d6c-36aa-498b-8a62-4f2b24d93d5b",
      "name": "Merge AI output and user input"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0ba6ab26-9a9f-4495-afb3-e1566032f754",
                    "leftValue": "={{ $json.userInputStatus }}",
                    "rightValue": 0,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d31c2b7d-5f06-40bc-b0dd-26144ea444dc",
                    "leftValue": "={{ $json.userInputStatus }}",
                    "rightValue": 1,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f830a4cf-c810-453c-93f6-440a6b6656b6",
                    "leftValue": "={{ $json.userInputStatus }}",
                    "rightValue": 2,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e14a3e73-7921-43c5-8a6b-1132ab9a3ec3",
                    "leftValue": "={{ $json.userInputStatus }}",
                    "rightValue": 3,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8995df32-6782-4dbb-9c0a-e0f689c116ba",
                    "leftValue": "={{ $json.userInputStatus }}",
                    "rightValue": 4,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e09cf7bf-1463-450a-bdcc-3d5e7d790240",
                    "leftValue": "={{ $json.userInputStatus }}",
                    "rightValue": 5,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "95c48f16-2f3a-4640-a25f-a9322aabd0e3",
                    "leftValue": "={{ $json.userInputStatus }}",
                    "rightValue": 6,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1840,
        2624
      ],
      "id": "1286d78e-e4f2-4b08-9914-e8374a692d42",
      "name": "Conditions on the basis of amount of information we have"
    },
    {
      "parameters": {
        "jsCode": "return {\n  lastExecutedNode: \"User not sure\",\n  message: $input.first().json.messageForUser\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3200,
        3632
      ],
      "id": "1bacf3ec-9038-409f-b595-55c306dd4e8b",
      "name": "User not sure"
    },
    {
      "parameters": {
        "jsCode": "return {\n  status: 1,\n  lastExecutedNode: \"Irrelevant message from user\",\n  message: $input.first().json.messageForUser\n  }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3248,
        3392
      ],
      "id": "2345abbd-f764-49a5-a20d-c9ba1dc7db94",
      "name": "Irrelevant message from user"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    lastExecutedNode: \"get restaurant api fail\",\n    message: $input.first().json.message\n  }\n}];\n\nreturn [\n  {\n    json: {\n      userData: $input.all()\n    }\n  }\n]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4176,
        3008
      ],
      "id": "8bba9c1e-413d-42d9-9e52-f2d7b1718c89",
      "name": "get restaurant api fail"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    lastExecutedNode: \"Restaurant not found\",\n    message: `Hmm, I couldn’t find '${$input.first().json.userData.userInputRestaurant}' 🤔.Could you check the name or try a different restaurant?`\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4928,
        2592
      ],
      "id": "aca13af1-c3a6-4185-a43f-406e1117d8e7",
      "name": "Restaurant not found"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    lastExecutedNode: \"Get restaurant Detil api\",\n    message: $input.first().json.message\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5632,
        3248
      ],
      "id": "0886f262-843c-4fb8-a89d-a2df034764e6",
      "name": "GetRestaurant Detail api fail"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    lastExecutedNode: \"restaurant closed\",\n    message: \"Restaurant closed\"\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5792,
        3088
      ],
      "id": "d15f937b-ec7b-4c16-bd67-9f1aa5f82949",
      "name": "Restaurant closed"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json : {\n      allRestaurantsData: $input.first().json\n    }\n  }\n]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3568,
        2784
      ],
      "id": "251921cf-0684-49ed-8167-200d7c0e16e0",
      "name": "Formatting get restaurant api response"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3792,
        2800
      ],
      "id": "8ee15b72-c8f6-4fa0-8b0e-82e2c644438d",
      "name": "Get Restaurant api response merge"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        5216,
        2944
      ],
      "id": "7ed133f1-0f70-451b-b1eb-97c9de7423af",
      "name": "Get Restaurant detail api response merge"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.allRestaurantsData.status }}",
                    "rightValue": 1,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    },
                    "id": "75afc74b-76b7-4400-8c85-136d7b96e0bd"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "f5000b9f-7ae9-4561-9014-ecef9ff68499",
                    "leftValue": "={{ $json.allRestaurantsData.status }}",
                    "rightValue": 1,
                    "operator": {
                      "type": "number",
                      "operation": "notEquals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        4016,
        2800
      ],
      "id": "ff27dbc5-8737-4189-86bd-297b0dbae5e1",
      "name": "Get Restaurant api status check"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.isRestaurantAvailable }}",
                    "rightValue": 0,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    },
                    "id": "465ba742-63de-4a1a-a713-ee051345bdf6"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "8ba9e57a-7ce4-4abb-81ca-2e278915ef74",
                    "leftValue": "={{ $json.isRestaurantAvailable }}",
                    "rightValue": 1,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        4528,
        2784
      ],
      "id": "9c9e820b-f8dd-4c72-b8df-5a3bc094466c",
      "name": "Restaurant found/not found condition"
    },
    {
      "parameters": {
        "jsCode": "return {\n  json: {\n    userData: $input.first().json.userData,\n    restaurantData: {\n      restaurantName: $input.first().json.restaurant[0].name,\n      availability: $input.first().json.userData.availability,\n      restaurantId: $input.first().json.restaurant[0].restuarant_id,\n      contentId: $input.first().json.restaurant[0].content_id\n    }\n  }\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5840,
        2912
      ],
      "id": "10d68946-04a3-4fca-bf22-505508463a8f",
      "name": "sending userData,  restaurantId, contentId to next node"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        6160,
        2896
      ],
      "id": "b9586688-2b68-4aa5-8bef-b6a0f762e601",
      "name": "Get Restaurant categories response merge"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.status }}",
                    "rightValue": 1,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    },
                    "id": "75afc74b-76b7-4400-8c85-136d7b96e0bd"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "f5000b9f-7ae9-4561-9014-ecef9ff68499",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": 1,
                    "operator": {
                      "type": "number",
                      "operation": "notEquals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        6384,
        2896
      ],
      "id": "4440332d-6f66-4eca-a3aa-ab9fc440116d",
      "name": "Get restaurant categories status check"
    },
    {
      "parameters": {
        "jsCode": "return {\n  json: {\n     userData: $input.first().json.userData,\n    restaurantData: $input.first().json.restaurantData,\n    restaurantId: $input.first().json.restaurantId,\n    contentId: $input.first().json.contentId\n  }\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6704,
        2880
      ],
      "id": "bfbd5b22-2396-46e3-ab32-1ca346a880b8",
      "name": "sending userData, restaurantId, contentId to next node"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        7056,
        2864
      ],
      "id": "bb1f4480-cb3a-4093-ae21-75c9bcf8f34c",
      "name": "Search restaurant menu api merge"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.status }}",
                    "rightValue": 1,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    },
                    "id": "75afc74b-76b7-4400-8c85-136d7b96e0bd"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "f5000b9f-7ae9-4561-9014-ecef9ff68499",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": 1,
                    "operator": {
                      "type": "number",
                      "operation": "notEquals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        7312,
        2864
      ],
      "id": "bbc6dc67-8fe6-48c5-b2ac-ea889a08ed06",
      "name": "Search restaurant menu api status check"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.menu_item.length }}",
                    "rightValue": 0,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    },
                    "id": "b21e1cc6-30fb-4b9f-8806-9532d1553a83"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "a3b19fab-98d5-4469-8bbd-6f76eaef4d05",
                    "leftValue": "={{ $json.menu_item.length }}",
                    "rightValue": 1,
                    "operator": {
                      "type": "number",
                      "operation": "gt"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c5f0a99c-1f9c-4260-9588-50e9158527e4",
                    "leftValue": "={{ $json.menu_item.length }}",
                    "rightValue": 1,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        7600,
        2832
      ],
      "id": "c5a6fef2-7396-4a74-a9f0-3aabb2e1b975",
      "name": "Search restaurant menu items found conditions"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    lastExecutedNode: \"Get Restaurant Categories fail\",\n    message: $input.first().json.message\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6688,
        3088
      ],
      "id": "f8e359fa-85d1-4d40-8c9a-65badc0302b4",
      "name": "Get Restaurant Categories api fail"
    },
    {
      "parameters": {
        "jsCode": "return {\n  lastExecuted: \"Search Restaurant menu api fail\",\n  message: $input.first().json.message\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7616,
        3120
      ],
      "id": "a8f06dad-9aaf-48ad-83bd-02f75387864e",
      "name": "Search Restaurant menu api fail"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst menuItems = input.menu_item;\n\nconst itemNames = menuItems.map(item => item.name).join(', ');\n\nreturn [{\n  json: {\n    lastExecuted: \"For multiple items in search restaurant menu api\",\n    message: \"There are multiple options available. Which one would you like to have: \"+itemNames\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7920,
        2848
      ],
      "id": "c99e961f-c1fe-4873-a35f-ce80900801a9",
      "name": "For multiple items in search restaurant menu api"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    lastExecutedNode: \"menu empty\",\n     message: \"No item found\"\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7920,
        2560
      ],
      "id": "3338b443-f341-4932-89af-50b6f432b984",
      "name": "for no item in search restaurant menu api response"
    },
    {
      "parameters": {
        "jsCode": "// 1. Get data from previous node\nconst input = $input.all()[0].json;\nconst userData = input.userData;\nconst menuItem = input.menu_item[0]; \nvar cartId = 0\n\n// 2. Prepare basic item details\nconst quantity = 1;\nconst basePrice = parseFloat(menuItem.price || \"0\");\nlet totalAddonsPrice = 0;\nconst selectedAddonsCategories = [];\n\n// --- MANDATORY CUSTOMIZATION LOGIC ---\n// If the item is customizable, check for mandatory categories\nif (menuItem.is_customize === \"1\" && menuItem.addons_category_list) {\n  menuItem.addons_category_list.forEach(category => {\n    // Logic matches CustomizationScreen.kt: Only auto-select if mandatory\n    if (category.is_mandatory === \"1\" && category.addons_list && category.addons_list.length > 0) {\n      const firstAddon = category.addons_list[0];\n      \n      selectedAddonsCategories.push({\n        addons_category: category.addons_category || \"\",\n        addons_category_id: category.addons_category_id || \"\",\n        addons_list: [{\n          add_ons_id: firstAddon.add_ons_id || \"\",\n          add_ons_name: firstAddon.add_ons_name || \"\",\n          add_ons_price: firstAddon.add_ons_price || \"0.00\"\n        }]\n      });\n      \n      // Add to running total of addon prices\n      totalAddonsPrice += parseFloat(firstAddon.add_ons_price || \"0\");\n    }\n  });\n}\n\nif(userData.cartId != 0 && userData.resId == input.restaurantData.restaurantId){ \n  cartId = userData.cartId \n} else {\n  cartId = 0\n}\n\n// 3. Calculate Totals (Internal project logic: (Base + Addons) * Quantity)\nconst subTotal = (basePrice * quantity).toFixed(2);\nconst itemTotal = ((basePrice + totalAddonsPrice) * quantity).toFixed(2);\n\nconst cartItem = {\n  menu_id: menuItem.menu_id,\n  name: menuItem.name || \"\",\n  price: basePrice.toFixed(2),\n  menu_content_id: menuItem.menu_content_id || \"\",\n  offer_price: menuItem.offer_price || \"\",\n  menu_detail: menuItem.menu_detail || \"\",\n  image: menuItem.image || \"\",\n  availability: menuItem.availability || \"\",\n  food_type_id: menuItem.food_type_id || \"\",\n  food_type_name: menuItem.food_type_name || \"\",\n  is_customize: parseInt(menuItem.is_customize || \"0\"),\n  is_deal: menuItem.is_deal || \"0\",\n  status: menuItem.status || \"1\",\n  is_combo_item: parseInt(menuItem.is_combo_item || \"0\"),\n  combo_item_details: menuItem.combo_item_details || \"\",\n  is_recipes_menu: menuItem.is_recipes_menu || 0,\n  in_stock: menuItem.in_stock || \"1\",\n  quantity: quantity,\n  subTotal: subTotal,\n  itemTotal: itemTotal,\n  comment: null, \n  addons_category_list: selectedAddonsCategories \n};\n\n// 4. Stringify the items object (Required by API)\nconst itemsJsonString = JSON.stringify({ items: [cartItem] });\n\n// 5. Create the main AddToCartRequest body\nconst requestBody = {\n  app_token: userData.appToken || \"\",\n  cart_id: cartId,\n  items: itemsJsonString,\n  restaurant_id: input.restaurantData.restaurantId || \"\",\n  user_id: userData.userId || \"\",\n  isLoggedIn: parseInt(userData.userId) > 0 ? 1 : 0,\n  latitude: userData.latitude || \"23.0123054\",\n  longitude: userData.longitude || \"72.5040315\",\n  language_slug: userData.languageSlug || \"en\",\n  order_delivery: \"Delivery\",\n  platform: \"android\",\n  user_timezone: userData.userTimezone || \"Asia/Kolkata\",\n  tip_percent_val: \"0\",\n  driver_tip: \"\",\n  is_wallet_applied: 0,\n  is_creditcard: \"yes\",\n  scheduled_date: \"\",\n  slot_open_time: \"\",\n  slot_close_time: \"\"\n};\n\n// 6. Wrap for n8n output\nreturn { \n  json: { \n    requestBody, \n    \"Authorization\": userData.authorizationToken || \"Basic ZWF0YW5jZV8yMDI1X21ycDpFYXRhbmNlQEAyQDI1\"\n  },\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7920,
        3056
      ],
      "id": "41f2120f-4bf0-4b2e-9b57-b5d929d2a8ac",
      "name": "for exact searched item in search restaurant menu api response"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.addToCartResponse.status }}",
                    "rightValue": 1,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    },
                    "id": "75afc74b-76b7-4400-8c85-136d7b96e0bd"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "f5000b9f-7ae9-4561-9014-ecef9ff68499",
                    "leftValue": "={{ $json.addToCartResponse.status }}",
                    "rightValue": 1,
                    "operator": {
                      "type": "number",
                      "operation": "notEquals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        8928,
        3072
      ],
      "id": "33455b8a-cf31-4dc2-bfb1-741d9ee5fbc9",
      "name": "Add to cart api status check"
    },
    {
      "parameters": {
        "jsCode": "\nconst cartItem = {\n  price: $input.first().json.addToCartResponse.items[0].price,\n  quantity: $input.first().json.addToCartResponse.items[0].quantity,\n  addonsCategoryList: $input.first().json.addToCartResponse.items[0].addons_category_list,\n  comment: $input.first().json.addToCartResponse.items[0].comment,\n  name: $input.first().json.addToCartResponse.items[0].name,\n  availability: $input.first().json.foundRestaurantItem.menu_item[0].availability,\n  foodTypeId: $input.first().json.foundRestaurantItem.menu_item[0].food_type_id,\n  foodTypeName: $input.first().json.foundRestaurantItem.menu_item[0].food_type_name,\n  inStock: $input.first().json.foundRestaurantItem.menu_item[0].in_stock,\n  image: $input.first().json.foundRestaurantItem.menu_item[0].image,\n  isCustomize: $input.first().json.foundRestaurantItem.menu_item[0].is_customize,\n  isDeal: $input.first().json.foundRestaurantItem.menu_item[0].is_deal,\n  isComboItem: $input.first().json.foundRestaurantItem.menu_item[0].is_combo_item,\n  isRecipesMenu: $input.first().json.foundRestaurantItem.menu_item[0].is_recipes_menu,\n  offerPrice: $input.first().json.foundRestaurantItem.menu_item[0].offer_price,\n  menuContentId: $input.first().json.foundRestaurantItem.menu_item[0].menu_content_id\n}\n\nreturn [{\n  json: {\n    cartId: $input.first().json.addToCartResponse.cart_id,\n    tableId: $input.first().json.addToCartResponse.table_id,\n    couponArray: $input.first().json.addToCartResponse.coupon_array,\n    couponName: $input.first().json.addToCartResponse.coupon_name,\n    comboItemDetails: $input.first().json.addToCartResponse.items[0].combo_item_details,\n    isComboItem: $input.first().json.addToCartResponse.items[0].is_combo_item,\n    items: cartItem,\n    resId: $input.first().json.foundRestaurantItem.restaurantData.restaurantId,\n    resName: $input.first().json.foundRestaurantItem.restaurantData.restaurantName,\n    message: \"Item added to cart\",\n    lastExecuted: \"Add to cart api success response\"\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        9312,
        2896
      ],
      "id": "934ab61c-c6b4-46c7-8db8-43d635b0d658",
      "name": "Add to cart api success response"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    lastExecuted: \"Add to cart api response\",\n    message: $input.first().json.message\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        9296,
        3280
      ],
      "id": "3bae0666-7ece-4dbc-b615-3a49b645e7c1",
      "name": "Add to cart api error response"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        8672,
        3072
      ],
      "id": "92b6e7f1-e053-4d85-9cc2-51df3dae926f",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    addToCartResponse: $input.first().json\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8400,
        3056
      ],
      "id": "81f9ccfd-1da8-4250-9943-ca1cdaeab60d",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    foundRestaurantItem: $input.first().json\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7984,
        3312
      ],
      "id": "418ee096-c67c-471f-a4ba-ce89d0414517",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mrpdev.eatanceapp.com/v6/api/getHome",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $json.authorizationToken }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "language_slug",
              "value": "={{ $json.languageSlug }}"
            },
            {
              "name": "latitude",
              "value": "={{ $json.latitude }}"
            },
            {
              "name": "longitude",
              "value": "={{ $json.longitude }}"
            },
            {
              "name": "distance",
              "value": "={{ $json.distance }}"
            },
            {
              "name": "page_no",
              "value": "={{ $json.pageNo }}"
            },
            {
              "name": "count",
              "value": "={{ $json.count }}"
            },
            {
              "name": "user_id",
              "value": "={{ $json.userId }}"
            },
            {
              "name": "user_timezone",
              "value": "={{ $json.userTimezone }}"
            },
            {
              "name": "response_flag",
              "value": "={{ $json.responseFlag }}"
            },
            {
              "name": "platform",
              "value": "={{ $json.platform }}"
            },
            {
              "name": "orderMode",
              "value": "={{ $json.orderMode }}"
            },
            {
              "name": "food",
              "value": "={{ $json.food }}"
            },
            {
              "name": "app_token",
              "value": "={{ $json.appToken }}"
            },
            {
              "name": "category_id",
              "value": "={{ $json.category_id }}"
            },
            {
              "name": "offersFreeDelivery",
              "value": "={{ $json.offersFreeDelivery }}"
            },
            {
              "name": "sortBy",
              "value": "={{ $json.sortBy }}"
            },
            {
              "name": "availability",
              "value": "={{ $json.availability }}"
            },
            {
              "name": "itemSearch",
              "value": "={{ $json.userInputItem }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3184,
        3872
      ],
      "id": "c35785ec-9864-4ced-a7e9-ce41635d0a3f",
      "name": "Get restaurant api1"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nconst restaurantNames = data.restaurant.map(r => r.name);\n\n// Store as a comma-separated string\nconst restaurantNamesString = restaurantNames.join(\", \");\n\nreturn [{\n  json: {\n    message: `Here is the list of the restaurants from where you can order from:  ${restaurantNamesString}`,\n    lastExecutedString: \"\"\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3680,
        3776
      ],
      "id": "fae29e48-2ad2-4389-8e12-c47c430488f3",
      "name": "handle api1"
    },
    {
      "parameters": {
        "jsCode": "return {\n  lastExecutedNode: \"get restaurant api fail\",\n  message: $input.first().json.message\n  }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3680,
        4000
      ],
      "id": "e8cd6719-27ee-4e04-adcd-a3ae012bfdca",
      "name": "get restaurant api fail1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.status }}",
                    "rightValue": 1,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    },
                    "id": "75afc74b-76b7-4400-8c85-136d7b96e0bd"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "f5000b9f-7ae9-4561-9014-ecef9ff68499",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": 1,
                    "operator": {
                      "type": "number",
                      "operation": "notEquals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        3408,
        3872
      ],
      "id": "6eefc3d1-bf5d-407c-9322-0e53b58ec9ac",
      "name": "Get Restaurant api status check1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mrpdev.eatanceapp.com/v6/api/getHome",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $json.authorizationToken }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "language_slug",
              "value": "={{ $json.languageSlug }}"
            },
            {
              "name": "latitude",
              "value": "={{ $json.latitude }}"
            },
            {
              "name": "longitude",
              "value": "={{ $json.longitude }}"
            },
            {
              "name": "distance",
              "value": "={{ $json.distance }}"
            },
            {
              "name": "page_no",
              "value": "={{ $json.pageNo }}"
            },
            {
              "name": "count",
              "value": "={{ $json.count }}"
            },
            {
              "name": "user_id",
              "value": "={{ $json.userId }}"
            },
            {
              "name": "user_timezone",
              "value": "={{ $json.userTimezone }}"
            },
            {
              "name": "response_flag",
              "value": "={{ $json.responseFlag }}"
            },
            {
              "name": "platform",
              "value": "={{ $json.platform }}"
            },
            {
              "name": "orderMode",
              "value": "={{ $json.orderMode }}"
            },
            {
              "name": "food",
              "value": "={{ $json.food }}"
            },
            {
              "name": "app_token",
              "value": "={{ $json.appToken }}"
            },
            {
              "name": "category_id",
              "value": "={{ $json.category_id }}"
            },
            {
              "name": "offersFreeDelivery",
              "value": "={{ $json.offersFreeDelivery }}"
            },
            {
              "name": "sortBy",
              "value": "={{ $json.sortBy }}"
            },
            {
              "name": "availability",
              "value": "={{ $json.availability }}"
            },
            {
              "name": "itemSearch",
              "value": "={{ $json.userInputRestaurant }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3168,
        4272
      ],
      "id": "2435dc71-849a-48cf-926d-30412dc82139",
      "name": "Get restaurant api2"
    },
    {
      "parameters": {
        "jsCode": "return {\n  lastExecutedNode: \"get restaurant api fail\",\n  message: $input.first().json.message\n  }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3984,
        4576
      ],
      "id": "6d33c391-cce3-40c7-a959-ea5d123674e6",
      "name": "get restaurant api fail2"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.allRestaurantsData.status }}",
                    "rightValue": 1,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    },
                    "id": "75afc74b-76b7-4400-8c85-136d7b96e0bd"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "f5000b9f-7ae9-4561-9014-ecef9ff68499",
                    "leftValue": "={{ $json.allRestaurantsData.status }}",
                    "rightValue": 1,
                    "operator": {
                      "type": "number",
                      "operation": "notEquals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        3728,
        4288
      ],
      "id": "662b80b3-3a7e-4b01-9ca4-6b28b5a71ede",
      "name": "Get Restaurant api status check2"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.status == 1 && $json.restaurant[0].timings.closing.toLowerCase() == 'open'}}",
                    "rightValue": 1,
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "75afc74b-76b7-4400-8c85-136d7b96e0bd"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "f5000b9f-7ae9-4561-9014-ecef9ff68499",
                    "leftValue": "={{ $json.status == 1 && $json.restaurant[0].timings.closing.toLowerCase() != 'open' }}",
                    "rightValue": 1,
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "720a528f-0446-4abe-958f-0c56c4d1fadc",
                    "leftValue": "={{ $json.status != 1 }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        5424,
        2928
      ],
      "id": "259c64a7-31be-4a2b-a16c-c67011a8668b",
      "name": "Get restaurant detail status and open/close check"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      userData: $input.all()\n    }\n  }\n]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3152,
        4528
      ],
      "id": "8aa2b1e4-cd44-4925-98f3-6156ecb1ea8f",
      "name": "returning user input1"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json : {\n      allRestaurantsData: $input.first().json\n    }\n  }\n]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3328,
        4272
      ],
      "id": "903a04cd-2040-4314-a3a3-821d20d10494",
      "name": "Formatting get restaurant api response1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3552,
        4288
      ],
      "id": "a8047bcc-756d-4931-9b90-515f71b01f44",
      "name": "Get Restaurant api response merge1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mrpdev.eatanceapp.com/v6/api/getRestaurantDetail",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $json.userData.authorizationToken }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "language_slug",
              "value": "={{ $json.userData.languageSlug }}"
            },
            {
              "name": "restaurant_id",
              "value": "={{ $json.restaurantId }}"
            },
            {
              "name": "content_id",
              "value": "={{ $json.restaurantId }}"
            },
            {
              "name": "food",
              "value": "=\"\""
            },
            {
              "name": "price",
              "value": "\"\""
            },
            {
              "name": "availability",
              "value": "0"
            },
            {
              "name": "user_id",
              "value": "={{ $json.userData.userId }}"
            },
            {
              "name": "isEvent",
              "value": "0"
            },
            {
              "name": "send_categories",
              "value": "0"
            },
            {
              "name": "user_timezone",
              "value": "={{ $json.userData.userTimezone }}"
            },
            {
              "name": "platform",
              "value": "={{ $json.userData.platform }}"
            },
            {
              "name": "app_token",
              "value": "={{ $json.userData.appToken }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        4720,
        4288
      ],
      "id": "ed7504f9-6467-4082-a440-30c6a0893071",
      "name": "getRestaurantDetail api1"
    },
    {
      "parameters": {
        "jsCode": "return {\n  json: {\n     userData: $input.first().json.userData\n  }\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4720,
        4512
      ],
      "id": "a6518435-fd46-4b5e-a821-0c948dc57380",
      "name": "Code in JavaScript11"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    lastExecutedNode: \"Restaurant not found\",\n    message: `Hmm, I couldn’t find '${$input.first().json.userData.userInputRestaurant}' 🤔.Could you check the name or try a different restaurant?`\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4720,
        4080
      ],
      "id": "1a5bf9ef-67c8-44c0-b388-911e3c62baa8",
      "name": "Restaurant not found1"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    lastExecutedNode: \"Get restaurant Detil api\",\n    message: $input.first().json.message\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5424,
        4736
      ],
      "id": "0f725660-1230-45ed-a2a4-bbfd5c9d6752",
      "name": "GetRestaurant Detail api fail1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        5008,
        4432
      ],
      "id": "82c1474e-4f22-4c83-aa6c-ca1e9b666aaf",
      "name": "Get Restaurant detail api response merge1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.isRestaurantAvailable }}",
                    "rightValue": 0,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    },
                    "id": "465ba742-63de-4a1a-a713-ee051345bdf6"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "8ba9e57a-7ce4-4abb-81ca-2e278915ef74",
                    "leftValue": "={{ $json.isRestaurantAvailable }}",
                    "rightValue": 1,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        4320,
        4272
      ],
      "id": "b5fb5f43-bbe6-41e4-803a-5639be997f53",
      "name": "Restaurant found/not found condition1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.status == 1 && $json.restaurant[0].timings.closing.toLowerCase() == 'open'}}",
                    "rightValue": 1,
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "75afc74b-76b7-4400-8c85-136d7b96e0bd"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "f5000b9f-7ae9-4561-9014-ecef9ff68499",
                    "leftValue": "={{ $json.status == 1 && $json.restaurant[0].timings.closing.toLowerCase() != 'open' }}",
                    "rightValue": 1,
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "720a528f-0446-4abe-958f-0c56c4d1fadc",
                    "leftValue": "={{ $json.status != 1 }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        5216,
        4416
      ],
      "id": "fe06ffa8-0012-4485-94df-d9733ac8f26f",
      "name": "Get restaurant detail status and open/close check1"
    },
    {
      "parameters": {
        "jsCode": "const userData = $json.userData[0].json;\nconst restaurants = $json.allRestaurantsData.restaurant;\n\nconst userRestaurant = userData.userInputRestaurant.toLowerCase().trim();\n\nconst matchedRestaurant = restaurants.find(r => \n  r.name.toLowerCase().trim().includes(userRestaurant) || \n  userRestaurant.includes(r.name.toLowerCase().trim())\n);\n\nif (matchedRestaurant) {\n  return [{\n    json: {\n      isRestaurantAvailable: 1,\n      restaurantId: matchedRestaurant.restuarant_id,\n      restaurantName: matchedRestaurant.name,\n      userInputItem: userData.userInputItem,\n      userInputRestaurant: userData.userInputRestaurant,\n      userInputAddOns: userData.userInputAddOns,\n      userMessage: userData.userMessage,\n      userInputStatus: userData.userInputStatus,\n      userData: userData\n    }\n  }];\n} else {\n  return [{\n    json: {\n      isRestaurantAvailable: 0,\n      message: `No restaurant found matching \"${userData.userInputRestaurant}\"`,\n      userInputItem: userData.userInputItem,\n      userInputRestaurant: userData.userInputRestaurant,\n      userInputAddOns: userData.userInputAddOns,\n      userMessage: userData.userMessage,\n      userInputStatus: userData.userInputStatus,\n      userData: userData\n    }\n  }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4000,
        4272
      ],
      "id": "4b626e7f-e306-4922-94f2-dd1d538b1978",
      "name": "handle api3"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5424,
        4304
      ],
      "id": "a6f46973-12f6-4cd7-a911-dc13fbc336b0",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    lastExecutedNode: \"Get restaurant Detil api\",\n    message: $input.first().json.message\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5472,
        4480
      ],
      "id": "24aa2f69-4338-4924-98a6-c67647c3c4fe",
      "name": "Code in JavaScript3"
    }
  ],
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "output from AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "handle api": {
      "main": [
        [
          {
            "node": "Restaurant found/not found condition",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get restaurant api": {
      "main": [
        [
          {
            "node": "Formatting get restaurant api response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "returning user input": {
      "main": [
        [
          {
            "node": "Get Restaurant api response merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "input for AI model",
            "type": "main",
            "index": 0
          },
          {
            "node": "data from user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getRestaurantDetail api": {
      "main": [
        [
          {
            "node": "Get Restaurant detail api response merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getRestaurantCategories api": {
      "main": [
        [
          {
            "node": "Get Restaurant categories response merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "searchRestaurantMenu api": {
      "main": [
        [
          {
            "node": "Search restaurant menu api merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript10": {
      "main": [
        [
          {
            "node": "Get Restaurant detail api response merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "addtoCart  api": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "data from user": {
      "main": [
        [
          {
            "node": "Merge AI output and user input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "input for AI model": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "output from AI": {
      "main": [
        [
          {
            "node": "Merge AI output and user input",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge AI output and user input": {
      "main": [
        [
          {
            "node": "Conditions on the basis of amount of information we have",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Conditions on the basis of amount of information we have": {
      "main": [
        [
          {
            "node": "no item name",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "no restaurant name",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "returning user input",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get restaurant api",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Irrelevant message from user",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "User not sure",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get restaurant api1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get restaurant api2",
            "type": "main",
            "index": 0
          },
          {
            "node": "returning user input1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatting get restaurant api response": {
      "main": [
        [
          {
            "node": "Get Restaurant api response merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Restaurant api response merge": {
      "main": [
        [
          {
            "node": "Get Restaurant api status check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Restaurant detail api response merge": {
      "main": [
        [
          {
            "node": "Get restaurant detail status and open/close check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Restaurant api status check": {
      "main": [
        [
          {
            "node": "handle api",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "get restaurant api fail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restaurant found/not found condition": {
      "main": [
        [
          {
            "node": "Restaurant not found",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "getRestaurantDetail api",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code in JavaScript10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "sending userData,  restaurantId, contentId to next node": {
      "main": [
        [
          {
            "node": "Get Restaurant categories response merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get Restaurant categories response merge": {
      "main": [
        [
          {
            "node": "Get restaurant categories status check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get restaurant categories status check": {
      "main": [
        [
          {
            "node": "searchRestaurantMenu api",
            "type": "main",
            "index": 0
          },
          {
            "node": "sending userData, restaurantId, contentId to next node",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Restaurant Categories api fail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "sending userData, restaurantId, contentId to next node": {
      "main": [
        [
          {
            "node": "Search restaurant menu api merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Search restaurant menu api merge": {
      "main": [
        [
          {
            "node": "Search restaurant menu api status check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search restaurant menu api status check": {
      "main": [
        [
          {
            "node": "Search restaurant menu items found conditions",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Search Restaurant menu api fail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search restaurant menu items found conditions": {
      "main": [
        [
          {
            "node": "for no item in search restaurant menu api response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "For multiple items in search restaurant menu api",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "for exact searched item in search restaurant menu api response",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "for exact searched item in search restaurant menu api response": {
      "main": [
        [
          {
            "node": "addtoCart  api",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add to cart api status check": {
      "main": [
        [
          {
            "node": "Add to cart api success response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add to cart api error response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Add to cart api status check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get restaurant api1": {
      "main": [
        [
          {
            "node": "Get Restaurant api status check1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Restaurant api status check1": {
      "main": [
        [
          {
            "node": "handle api1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "get restaurant api fail1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get restaurant api2": {
      "main": [
        [
          {
            "node": "Formatting get restaurant api response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Restaurant api status check2": {
      "main": [
        [
          {
            "node": "handle api3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "get restaurant api fail2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get restaurant detail status and open/close check": {
      "main": [
        [
          {
            "node": "getRestaurantCategories api",
            "type": "main",
            "index": 0
          },
          {
            "node": "sending userData,  restaurantId, contentId to next node",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Restaurant closed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GetRestaurant Detail api fail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "returning user input1": {
      "main": [
        [
          {
            "node": "Get Restaurant api response merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Formatting get restaurant api response1": {
      "main": [
        [
          {
            "node": "Get Restaurant api response merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Restaurant api response merge1": {
      "main": [
        [
          {
            "node": "Get Restaurant api status check2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getRestaurantDetail api1": {
      "main": [
        [
          {
            "node": "Get Restaurant detail api response merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript11": {
      "main": [
        [
          {
            "node": "Get Restaurant detail api response merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get Restaurant detail api response merge1": {
      "main": [
        [
          {
            "node": "Get restaurant detail status and open/close check1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restaurant found/not found condition1": {
      "main": [
        [
          {
            "node": "Restaurant not found1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "getRestaurantDetail api1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code in JavaScript11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get restaurant detail status and open/close check1": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GetRestaurant Detail api fail1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "handle api3": {
      "main": [
        [
          {
            "node": "Restaurant found/not found condition1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "02a545b6fa723b69592e6d9f9d88b9802ba640a3647106636b0b59e01f09921c"
  }
}
