eatance_2_food_ordering.json
{
"name": "Eatance Voice command",
"nodes": [
{
"parameters": {
"options": {}
},
"type": "@n8n/n8n-nodes-langchain.chatTrigger",
"typeVersion": 1.3,
"position": [
0,
0
],
"id": "870b1b18-12b4-416e-b430-2b610966f60e",
"name": "When chat message received",
"webhookId": "16fa7bbf-d224-4105-b7d2-4eecc407cb32"
},
{
"parameters": {
"hasOutputParser": true,
"options": {
"systemMessage": "You are a voice assistant for a food ordering app.\n\nYour job is to extract the following fields from the user's message:\n\n- \"item\": the main food item (e.g., pizza, burger)\n- \"restaurant\": name of the restaurant if mentioned\n- \"add_ons\": any toppings or modifiers the user mentions (e.g., double cheese, spicy, large size)\n- \"status\": \n   - 0: if only restaurant is mentioned\n   - 1: if only item is mentioned\n   - 2: if both are mentioned\n   - 3: if the user is not sure regarding anything related to restaurant \n   - 4: if anything other than food ordering has been asked\n\nAlso generate a \"message\" field — a sentence the assistant will speak to the user — but do not include add-ons in the message. Only confirm the item and restaurant. If any field is missing, your message should politely ask for the missing information.\n\nDon't ask for item if only restaurant name is mentioned\n\nIf the user is not familiar with the restaurants, ask them if they want suggestions.\n\nIMPORTANT:\n- Respond with only valid JSON.\n- Do not include markdown, bullet points, or explanation.\n- Do not wrap the JSON in triple backticks.\n- Do not speak outside the JSON.\n\nHere’s an example of the correct response format:\n\n{\n  \"item\": \"pizza\",\n  \"restaurant\": \"Dominos\",\n  \"add_ons\": [\"double cheese\"],\n  \"message\": \"👍\",\n  \"status\": 3\n}\n"
}
},
"type": "@n8n/n8n-nodes-langchain.agent",
"typeVersion": 2.2,
"position": [
208,
0
],
"id": "82b0218c-5806-4746-a42f-c37c975ff0ed",
"name": "AI Agent"
},
{
"parameters": {
"model": {
"__rl": true,
"value": "gpt-4.1-mini",
"mode": "list",
"cachedResultName": "gpt-4.1-mini"
},
"options": {}
},
"type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
"typeVersion": 1.2,
"position": [
80,
208
],
"id": "a24f1c8e-2d7a-40fd-9fc2-70b990dfe2d5",
"name": "OpenAI Chat Model",
"credentials": {
"openAiApi": {
"id": "vEFfNZQEq1qg43RF",
"name": "OpenAi account"
}
}
},
{
"parameters": {
"jsCode": "const data = $input.item.json.output; // Access the nested output\nreturn [data];\n"
},
"type": "n8n-nodes-base.code",
"typeVersion": 2,
"position": [
544,
-144
],
"id": "bfcea5da-a3c3-42fa-b097-4aef4203159a",
"name": "Code"
},
{
"parameters": {
"schemaType": "manual",
"inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"user_input_item\": { \"type\": \"string\" },\n    \"user_input_restaurant\": { \"type\": \"string\" },\n    \"user_input_add_ons\": {\n      \"type\": \"array\",\n      \"items\": { \"type\": \"string\" }\n    },\n    \"user_message\": { \"type\": \"string\" },\n    \"user_input_status\": { \"type\": \"number\" }\n  },\n  \"required\": [\"user_input_item\", \"user_input_restaurant\", \"user_input_add_ons\", \"user_message\", \"user_input_status\"]\n}\n"
},
"type": "@n8n/n8n-nodes-langchain.outputParserStructured",
"typeVersion": 1.3,
"position": [
384,
208
],
"id": "87089bef-70c3-4496-be89-a7bf9aa42365",
"name": "Structured Output Parser"
},
{
"parameters": {
"rules": {
"values": [
{
"conditions": {
"options": {
"caseSensitive": true,
"leftValue": "",
"typeValidation": "strict",
"version": 2
},
"conditions": [
{
"id": "0ba6ab26-9a9f-4495-afb3-e1566032f754",
"leftValue": "={{ $json.output.user_input_status }}",
"rightValue": 0,
"operator": {
"type": "number",
"operation": "equals"
}
}
],
"combinator": "and"
}
},
{
"conditions": {
"options": {
"caseSensitive": true,
"leftValue": "",
"typeValidation": "strict",
"version": 2
},
"conditions": [
{
"id": "d31c2b7d-5f06-40bc-b0dd-26144ea444dc",
"leftValue": "={{ $json.output.user_input_status }}",
"rightValue": 1,
"operator": {
"type": "number",
"operation": "equals"
}
}
],
"combinator": "and"
}
},
{
"conditions": {
"options": {
"caseSensitive": true,
"leftValue": "",
"typeValidation": "strict",
"version": 2
},
"conditions": [
{
"id": "f830a4cf-c810-453c-93f6-440a6b6656b6",
"leftValue": "={{ $json.output.user_input_status }}",
"rightValue": 2,
"operator": {
"type": "number",
"operation": "equals"
}
}
],
"combinator": "and"
}
},
{
"conditions": {
"options": {
"caseSensitive": true,
"leftValue": "",
"typeValidation": "strict",
"version": 2
},
"conditions": [
{
"id": "e14a3e73-7921-43c5-8a6b-1132ab9a3ec3",
"leftValue": "={{ $json.output.user_input_status }}",
"rightValue": 3,
"operator": {
"type": "number",
"operation": "equals"
}
}
],
"combinator": "and"
}
},
{
"conditions": {
"options": {
"caseSensitive": true,
"leftValue": "",
"typeValidation": "strict",
"version": 2
},
"conditions": [
{
"id": "8995df32-6782-4dbb-9c0a-e0f689c116ba",
"leftValue": "={{ $json.output.user_input_status }}",
"rightValue": 4,
"operator": {
"type": "number",
"operation": "equals"
}
}
],
"combinator": "and"
}
}
]
},
"options": {}
},
"type": "n8n-nodes-base.switch",
"typeVersion": 3.2,
"position": [
944,
0
],
"id": "1f7e99bf-6020-4ca3-85e2-7196e5521787",
"name": "Switch"
},
{
"parameters": {
"jsCode": "const items = $input.all();\nconst updatedItems = items.map((item) => {\n  let status;\n  const restaurant = item?.json?.output?.restaurant;\n  const item_name = item?.json?.output?.item;\n  const add_ons = item?.json?.output?.add_ons;\n\n  if (restaurant && !item_name) {\n    status = 0;\n  } else if (!restaurant && item_name) {\n    status = 1;\n  } else if (restaurant && item_name) {\n    status = 2;\n  } else {\n    status = 3;\n  }\n\n  return {\n    status,\n    restaurant,\n    item: item_name,\n    add_ons,\n  };\n});\n\nreturn updatedItems;\n"
},
"type": "n8n-nodes-base.code",
"typeVersion": 2,
"position": [
784,
-144
],
"id": "7b4085c6-af99-4911-9d00-66e830bd7001",
"name": "Adding status"
},
{
"parameters": {
"jsCode": "return { message: \"Please enter the name of the restaurant.\" };\n"
},
"type": "n8n-nodes-base.code",
"typeVersion": 2,
"position": [
1824,
-96
],
"id": "dbee446d-35f9-4056-9aac-d36b72f7c005",
"name": "no restaurant name"
},
{
"parameters": {
"jsCode": "return { message: \"Please enter the name of the Item you want to order.\" };\n"
},
"type": "n8n-nodes-base.code",
"typeVersion": 2,
"position": [
1824,
-240
],
"id": "54abdf50-1464-4e7f-b8a1-f82b931d35e5",
"name": "no item name"
},
{
"parameters": {
"jsCode": "const data = $json;\n\nconst hasData =\n  data.data &&\n  data.data.restaurant_count > 0 &&\n  Array.isArray(data.data.restaurant_lists) &&\n  data.data.restaurant_lists.length > 0;\n\nlet result;\n\nif (!hasData) {\n  result = {\n    status: data.status ?? 2,\n    message: \"No data found.\",\n    restaurant_name: data.restaurant_name,\n    item: data.item\n  };\n} else {\n  result = {\n    status: data.status,\n    message: data.message,\n    data: data.data,\n    restaurant_name: data.output.user_input_restaurant_name,\n    item: data.output.user_input_item\n  };\n}\n\nreturn [{ json: result }];\n"
},
"type": "n8n-nodes-base.code",
"typeVersion": 2,
"position": [
2288,
144
],
"id": "6fdad77d-32f1-4367-91ec-c4ca5f144adb",
"name": "handle api"
},
{
"parameters": {
"mode": "combine",
"combineBy": "combineByPosition",
"options": {}
},
"type": "n8n-nodes-base.merge",
"typeVersion": 3.2,
"position": [
2048,
144
],
"id": "2be8913e-5675-4af6-87b8-c8c71bcae9c8",
"name": "Merge"
},
{
"parameters": {
"method": "POST",
"url": "https://eatancedevappapi.eatanceapp.com/v8/get-restaurants",
"authentication": "genericCredentialType",
"genericAuthType": "httpBearerAuth",
"sendBody": true,
"specifyBody": "json",
"jsonBody": "={\"search_keyword\":\"{{ $json.user_input_restaurant_name }}\",\"app_token\":\"MV8yNTExMDgyMF8zLjIuMF80NF84\",\"user_id\":\"100146\",\"latitude\":\"23.0122364\",\"start\":0,\"length\":10,\"table_booking\":0,\"language_id\":\"1\",\"longitude\":\"72.5041849\",\"isEncryptionActive\":false,\"platform\":\"android\"}",
"options": {}
},
"type": "n8n-nodes-base.httpRequest",
"typeVersion": 4.2,
"position": [
1808,
64
],
"id": "61fe3390-0650-49f9-bdf2-f5e4385bc912",
"name": "Get restaurant api",
"credentials": {
"httpBearerAuth": {
"id": "1iNyd9Iwqk2ATtDT",
"name": "Bearer Auth account"
}
}
},
{
"parameters": {
"method": "POST",
"url": "https://eatancedevappapi.eatanceapp.com/v8/get-restaurant-menu",
"authentication": "genericCredentialType",
"genericAuthType": "httpBearerAuth",
"sendBody": true,
"specifyBody": "json",
"jsonBody": "={\"app_token\":\"MV8yNTExMDgyMF8zLjIuMF80NF84\",\"restaurant_id\":{{ $json.data.restaurant_lists[0].id }},\"language_id\":\"1\",\"isEncryptionActive\":false,\"platform\":\"android\",\"user_id\":\"100146\",\"latitude\":\"23.0122364\",\"longitude\":\"72.5041849\"}",
"options": {}
},
"type": "n8n-nodes-base.httpRequest",
"typeVersion": 4.2,
"position": [
2672,
144
],
"id": "520c310d-8347-4979-8ab3-e430a3b58dca",
"name": "Get restaurant menu api",
"credentials": {
"httpBearerAuth": {
"id": "1iNyd9Iwqk2ATtDT",
"name": "Bearer Auth account"
}
}
},
{
"parameters": {
"mode": "combine",
"combineBy": "combineByPosition",
"numberInputs": 3,
"options": {}
},
"type": "n8n-nodes-base.merge",
"typeVersion": 3.2,
"position": [
2928,
160
],
"id": "f3819c3b-888d-4691-9eeb-405b8715ec8b",
"name": "Merge1"
},
{
"parameters": {
"rules": {
"values": [
{
"conditions": {
"options": {
"caseSensitive": true,
"leftValue": "",
"typeValidation": "strict",
"version": 2
},
"conditions": [
{
"leftValue": "={{ $json.add_ons }}",
"rightValue": 0,
"operator": {
"type": "number",
"operation": "equals"
},
"id": "63a6b4c2-1012-42ec-b345-1acc70f9cc8a"
}
],
"combinator": "and"
}
},
{
"conditions": {
"options": {
"caseSensitive": true,
"leftValue": "",
"typeValidation": "strict",
"version": 2
},
"conditions": [
{
"id": "064dde67-04cc-4db3-8df8-6e3cb971332e",
"leftValue": "={{ $json.add_ons }}",
"rightValue": 1,
"operator": {
"type": "number",
"operation": "equals"
}
}
],
"combinator": "and"
}
}
]
},
"options": {}
},
"type": "n8n-nodes-base.switch",
"typeVersion": 3.2,
"position": [
3328,
176
],
"id": "67106596-ef5c-4de1-9bd2-def12442f7cf",
"name": "Switch1"
},
{
"parameters": {
"jsCode": "const data = $json;\n\nconst itemToFind = data.output.user_input_item.toLowerCase(); // normalize case\nconst menuItems = data.data.menu_items;\n\n  for (const menuItem of menuItems) {\n    if (menuItem.item_name.toLowerCase() === itemToFind) {\n      return {id: [menuItem.id](http://menuitem.id/) ?? \"\", add_ons: menuItem.check_add_ons ?? 0, item_name: menuItem.item_name ?? \"\", offer_end_date: menuItem.offer_end_date ?? \"\", offer_discount: menuItem.offer_discount ?? \"\", offer_price: menuItem.offer_price ?? \"\", offer_start_date: menuItem.offer_start_date ?? \"\", price: menuItem.price ?? \"\", restaurant_id: $input.first().json.restaurant_id ?? \"\"};\n    }\n  }\n\n  return {message: \"Item not found\"}; // not found"
},
"type": "n8n-nodes-base.code",
"typeVersion": 2,
"position": [
3136,
176
],
"id": "068dbcd0-16d7-4fc1-94d7-beefffb709ef",
"name": "handling menu response"
},
{
"parameters": {
"method": "POST",
"url": "https://eatancedevappapi.eatanceapp.com/v8/menu-add-on-items",
"authentication": "genericCredentialType",
"genericAuthType": "httpBearerAuth",
"sendBody": true,
"specifyBody": "json",
"jsonBody": "={\"app_token\":\"MV8yNTExMDgyMF8zLjIuMF80NF84\",\"language_id\":\"1\",\"menu_id\":{{ $[json.id](http://json.id/) }},\"isEncryptionActive\":false,\"platform\":\"android\",\"user_id\":\"100146\",\"latitude\":\"23.0122364\",\"longitude\":\"72.5041849\"}",
"options": {}
},
"type": "n8n-nodes-base.httpRequest",
"typeVersion": 4.2,
"position": [
3600,
400
],
"id": "b2be840d-d774-4e39-8ff6-95662ba8feac",
"name": "menu add on api",
"credentials": {
"httpBearerAuth": {
"id": "1iNyd9Iwqk2ATtDT",
"name": "Bearer Auth account"
}
}
},
{
"parameters": {
"method": "POST",
"url": "https://eatancedevappapi.eatanceapp.com/v8/add-to-cart-food",
"authentication": "genericCredentialType",
"genericAuthType": "httpBearerAuth",
"sendHeaders": true,
"headerParameters": {
"parameters": [
{
"name": "Content-Type",
"value": "application/json"
}
]
},
"sendBody": true,
"specifyBody": "json",
"jsonBody": "={\"app_token\":\"MV8yNTExMDgyMF8zLjIuMF80NF84\",\"items\":[{\"item_id\":{{ $[json.id](http://json.id/) }},\"item_name\":{{ $json.item_name }},\"offer_discount\":\"\",\"offer_end_date\":\"\",\"offer_price\":{{ $json.offer_price }},\"offer_start_date\":\"\",\"price\":{{ $json.price }},\"qty\":1}],\"language_id\":\"1\",\"order_mode\":\"pick_up\",\"replace_cart\":0,\"restaurant_id\":{{ $json.restaurant_id }},\"isEncryptionActive\":false,\"platform\":\"android\",\"user_id\":\"100146\",\"latitude\":\"23.0122364\",\"longitude\":\"72.5041849\"}\n",
"options": {}
},
"type": "n8n-nodes-base.httpRequest",
"typeVersion": 4.2,
"position": [
4384,
48
],
"id": "489fd253-b0e3-49dd-a6f2-a0f6b73f190f",
"name": "add to cart food api",
"credentials": {
"httpBearerAuth": {
"id": "1iNyd9Iwqk2ATtDT",
"name": "Bearer Auth account"
}
}
},
{
"parameters": {
"contextWindowLength": 10000
},
"type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
"typeVersion": 1.3,
"position": [
192,
208
],
"id": "b75eaf2b-20c5-417c-8306-4d44a4b9a6ce",
"name": "Simple Memory"
},
{
"parameters": {
"mode": "combine",
"combineBy": "combineByPosition",
"options": {}
},
"type": "n8n-nodes-base.merge",
"typeVersion": 3.2,
"position": [
3424,
-64
],
"id": "709cdb05-4081-4966-b7a5-f719d5cd7be9",
"name": "Merge3"
},
{
"parameters": {
"jsCode": "return {restaurant_id: $input.first().json.data.restaurant_lists[0].id}"
},
"type": "n8n-nodes-base.code",
"typeVersion": 2,
"position": [
2448,
-128
],
"id": "09bef5a4-6850-44df-a923-d14bcb22c8e1",
"name": "return item id"
},
{
"parameters": {
"jsCode": "return $input.all();"
},
"type": "n8n-nodes-base.code",
"typeVersion": 2,
"position": [
1808,
240
],
"id": "e189ea39-37ce-43a6-8813-beff409d17ec",
"name": "returning user input"
},
{
"parameters": {
"jsCode": "// Get the JSON data from previous node\nconst input = $json;\n\n// Prepare result array\nlet result = [];\n\n// Loop through each item in data\nfor (const menuItem of input.data) {\n\tif (menuItem.mandatory === 1) {\n\t\t// Clone the item but keep only the first addon\n\t\tlet clonedItem = {\n\t\t\t...menuItem,\n\t\t\taddons: menuItem.addons.length > 0 ? [menuItem.addons[0]] : []\n\t\t};\n\t\tresult.push(clonedItem);\n\t}\n}\n\n// Return as n8n output\nreturn result.map(r => ({ json: {\n  \"cust_id\": [r.id](http://r.id/), \n  \"cust_name\": [r.name](http://r.name/), \n  \"cust_mandatory\": r.mandatory, \n  \"cust_is_variation\": r.is_variation,\n  \"cust_is_variation_primary\": r.is_variation_primary,\n  \"cust_display_limit\": r.display_limit,\n  \"cust_addons\": [\n    {\n      \"id\": r.addons[0].id,\n      \"addons_name\": r.addons[0].addons_name,\n      \"addons_price\": r.addons[0].addons_price,\n      \"variation_data\": [\n        {\n          \"variation_id\":r.addons[0].variation_data[0].variation_id,\n          \"variation_price\": r.addons[0].variation_data[0].variation_price\n        }\n      ]\n    }\n  ]\n} }));\n"
},
"type": "n8n-nodes-base.code",
"typeVersion": 2,
"position": [
3888,
400
],
"id": "6ea672ad-0a1f-4881-b8ac-2a3f5ba0e17f",
"name": "handling menu add ons data"
},
{
"parameters": {
"method": "POST",
"url": "https://eatancedevappapi.eatanceapp.com/v8/add-to-cart-food",
"authentication": "genericCredentialType",
"genericAuthType": "httpBearerAuth",
"sendHeaders": true,
"headerParameters": {
"parameters": [
{
"name": "Content-Type",
"value": "application/json"
}
]
},
"sendBody": true,
"specifyBody": "json",
"jsonBody": "={\"app_token\":\"MV8yNTExMDgyMF8zLjIuMF80NF84\",\"items\":[{\"addons\": [{\"addons_id: {{ $json.cust_addons[0].id }}\", \"addons_name\": {{ $json.cust_addons[0].addons_name }}, \"addons_price\": {{ $json.cust_addons[0].addons_price }}, \"combo_category_id\": {{ $json.cust_id }}}], \"item_id\":{{ $[json.id](http://json.id/) }},\"item_name\":{{ $json.item_name }}, \"offer_discount\":\"\", \"offer_end_date\":\"\", \"offer_price\":{{ $json.offer_price }}, \"offer_start_date\":\"\",\"price\":{{ $json.price }},\"qty\":1}],\"language_id\":\"1\",\"order_mode\":\"pick_up\",\"replace_cart\":0,\"restaurant_id\":{{ $json.restaurant_id }},\"isEncryptionActive\":false,\"platform\":\"android\",\"user_id\":\"100146\",\"latitude\":\"23.0122364\",\"longitude\":\"72.5041849\"}\n",
"options": {}
},
"type": "n8n-nodes-base.httpRequest",
"typeVersion": 4.2,
"position": [
4368,
352
],
"id": "50a02e20-b72b-4e6e-bc8c-ffad3c7a04cd",
"name": "add to cart food api1",
"credentials": {
"httpBearerAuth": {
"id": "1iNyd9Iwqk2ATtDT",
"name": "Bearer Auth account"
}
}
},
{
"parameters": {
"mode": "combine",
"combineBy": "combineByPosition",
"options": {}
},
"type": "n8n-nodes-base.merge",
"typeVersion": 3.2,
"position": [
4128,
224
],
"id": "fb632437-2046-42a0-831a-01a9b9b952d5",
"name": "Merge2"
}
],
"pinData": {},
"connections": {
"When chat message received": {
"main": [
[
{
"node": "AI Agent",
"type": "main",
"index": 0
}
]
]
},
"OpenAI Chat Model": {
"ai_languageModel": [
[
{
"node": "AI Agent",
"type": "ai_languageModel",
"index": 0
}
]
]
},
"AI Agent": {
"main": [
[
{
"node": "Switch",
"type": "main",
"index": 0
}
]
]
},
"Structured Output Parser": {
"ai_outputParser": [
[
{
"node": "AI Agent",
"type": "ai_outputParser",
"index": 0
}
]
]
},
"Code": {
"main": [
[]
]
},
"Switch": {
"main": [
[
{
"node": "no item name",
"type": "main",
"index": 0
}
],
[
{
"node": "no restaurant name",
"type": "main",
"index": 0
}
],
[
{
"node": "returning user input",
"type": "main",
"index": 0
},
{
"node": "Get restaurant api",
"type": "main",
"index": 0
}
],
[],
[]
]
},
"Adding status": {
"main": [
[]
]
},
"Merge": {
"main": [
[
{
"node": "handle api",
"type": "main",
"index": 0
}
]
]
},
"handle api": {
"main": [
[
{
"node": "Get restaurant menu api",
"type": "main",
"index": 0
},
{
"node": "return item id",
"type": "main",
"index": 0
}
]
]
},
"Get restaurant api": {
"main": [
[
{
"node": "Merge",
"type": "main",
"index": 0
}
]
]
},
"Get restaurant menu api": {
"main": [
[
{
"node": "Merge1",
"type": "main",
"index": 1
}
]
]
},
"Merge1": {
"main": [
[
{
"node": "handling menu response",
"type": "main",
"index": 0
}
]
]
},
"Switch1": {
"main": [
[
{
"node": "add to cart food api",
"type": "main",
"index": 0
}
],
[
{
"node": "menu add on api",
"type": "main",
"index": 0
},
{
"node": "Merge2",
"type": "main",
"index": 0
}
]
]
},
"handling menu response": {
"main": [
[
{
"node": "Switch1",
"type": "main",
"index": 0
}
]
]
},
"menu add on api": {
"main": [
[
{
"node": "handling menu add ons data",
"type": "main",
"index": 0
}
]
]
},
"Simple Memory": {
"ai_memory": [
[
{
"node": "AI Agent",
"type": "ai_memory",
"index": 0
}
]
]
},
"return item id": {
"main": [
[
{
"node": "Merge1",
"type": "main",
"index": 0
}
]
]
},
"returning user input": {
"main": [
[
{
"node": "Merge",
"type": "main",
"index": 1
},
{
"node": "Merge1",
"type": "main",
"index": 2
}
]
]
},
"Merge3": {
"main": [
[]
]
},
"handling menu add ons data": {
"main": [
[
{
"node": "Merge2",
"type": "main",
"index": 1
}
]
]
},
"Merge2": {
"main": [
[
{
"node": "add to cart food api1",
"type": "main",
"index": 0
}
]
]
}
},
"active": false,
"settings": {
"executionOrder": "v1"
},
"versionId": "dfc8d971-91e8-4e28-8f6a-7a487a690492",
"meta": {
"templateCredsSetupCompleted": true,
"instanceId": "550a6680715144541717bb4a78412ed493b7866463b0382a64b3c4607b8b4072"
},
"id": "yUhm2s6v7wmXiLH6",
"tags": []
}