Eatance_mrp_food_order.json
{
  "nodes": [
    {
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a voice assistant for a food ordering app.\n\nYour job is to extract the following fields from the user's message:\n\n- \"item\": the main food item (e.g., pizza, burger)\n- \"restaurant\": name of the restaurant if mentioned\n- \"add_ons\": any toppings or modifiers the user mentions (e.g., double cheese, spicy, large size)\n- \"status\": \n   - 0: if only restaurant is mentioned\n   - 1: if only item is mentioned\n   - 2: if both are mentioned\n   - 3: if the user is not sure regarding anything related to restaurant \n   - 4: if anything other than food ordering has been asked\n\nAlso generate a \"message\" field — a sentence the assistant will speak to the user — but do not include add-ons in the message. Only confirm the item and restaurant. If any field is missing, your message should politely ask for the missing information.\n\nDon't ask for item if only restaurant name is mentioned\n\nIf the user is not familiar with the restaurants, ask them if they want suggestions.\n\nIMPORTANT:\n- Respond with only valid JSON.\n- Do not include markdown, bullet points, or explanation.\n- Do not wrap the JSON in triple backticks.\n- Do not speak outside the JSON.\n\nHere’s an example of the correct response format:\n\n{\n  \"item\": \"pizza\",\n  \"restaurant\": \"Dominos\",\n  \"add_ons\": [\"double cheese\"],\n  \"message\": \"👍\",\n  \"status\": 3\n}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -1376,
        256
      ],
      "id": "59f9d927-b8c5-40c0-8368-2cbae0f1d53e",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1488,
        544
      ],
      "id": "510d9afc-821e-4c5f-9289-4dd4437eab99",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "XdhMGVSa2bdNbl1X",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"user_input_item\": { \"type\": \"string\" },\n    \"user_input_restaurant\": { \"type\": \"string\" },\n    \"user_input_add_ons\": {\n      \"type\": \"array\",\n      \"items\": { \"type\": \"string\" }\n    },\n    \"user_message\": { \"type\": \"string\" },\n    \"user_input_status\": { \"type\": \"number\" }\n  },\n  \"required\": [\"user_input_item\", \"user_input_restaurant\", \"user_input_add_ons\", \"user_message\", \"user_input_status\"]\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -1136,
        512
      ],
      "id": "7a6569b4-7a7e-4ff0-b952-2f3e23433c1b",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0ba6ab26-9a9f-4495-afb3-e1566032f754",
                    "leftValue": "={{ $json.userInputStatus }}",
                    "rightValue": 0,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d31c2b7d-5f06-40bc-b0dd-26144ea444dc",
                    "leftValue": "={{ $json.userInputStatus }}",
                    "rightValue": 1,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f830a4cf-c810-453c-93f6-440a6b6656b6",
                    "leftValue": "={{ $json.userInputStatus }}",
                    "rightValue": 2,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e14a3e73-7921-43c5-8a6b-1132ab9a3ec3",
                    "leftValue": "={{ $json.userInputStatus }}",
                    "rightValue": 3,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8995df32-6782-4dbb-9c0a-e0f689c116ba",
                    "leftValue": "={{ $json.userInputStatus }}",
                    "rightValue": 4,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -640,
        32
      ],
      "id": "b83f874e-5588-4f48-9cbb-7c5bcc9dc115",
      "name": "Switch"
    },
    {
      "parameters": {
        "jsCode": "return { message: \"Please enter the name of the restaurant.\" };\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        -64
      ],
      "id": "a9dc3141-45ad-4a4d-acde-441f14e3453f",
      "name": "no restaurant name"
    },
    {
      "parameters": {
        "jsCode": "return { message: \"Please enter the name of the Item you want to order.\" };\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        -288
      ],
      "id": "8d2eeb48-1f2a-4b5d-aff2-19bfb0a05452",
      "name": "no item name"
    },
    {
      "parameters": {
        "jsCode": "const userData = $json.userData[0].json;\nconst restaurants = $json.allRestaurantsData.restaurant;\n\nconst userRestaurant = userData.userInputRestaurant.toLowerCase().trim();\n\nconst matchedRestaurant = restaurants.find(r => \n  r.name.toLowerCase().trim().includes(userRestaurant) || \n  userRestaurant.includes(r.name.toLowerCase().trim())\n);\n\nif (matchedRestaurant) {\n  return [{\n    json: {\n      isRestaurantAvailable: 1,\n      restaurantId: matchedRestaurant.restuarant_id,\n      restaurantName: matchedRestaurant.name,\n      userInputItem: userData.userInputItem,\n      userInputRestaurant: userData.userInputRestaurant,\n      userInputAddOns: userData.userInputAddOns,\n      userMessage: userData.userMessage,\n      userInputStatus: userData.userInputStatus\n    }\n  }];\n} else {\n  return [{\n    json: {\n      isRestaurantAvailable: 0,\n      message: `No restaurant found matching \"${userData.userInputRestaurant}\"`,\n      userInputItem: userData.userInputItem,\n      userInputRestaurant: userData.userInputRestaurant,\n      userInputAddOns: userData.userInputAddOns,\n      userMessage: userData.userMessage,\n      userInputStatus: userData.userInputStatus\n    }\n  }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        256
      ],
      "id": "11c7a38d-8971-4930-8ef6-36871eac379b",
      "name": "handle api"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        640,
        256
      ],
      "id": "9a86325d-d350-4675-acae-1b96b4500773",
      "name": "Merge"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mrpdev.eatanceapp.com/v6/api/getHome",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $json.authorizationToken }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "language_slug",
              "value": "={{ $json.languageSlug }}"
            },
            {
              "name": "latitude",
              "value": "={{ $json.latitude }}"
            },
            {
              "name": "longitude",
              "value": "={{ $json.longitude }}"
            },
            {
              "name": "distance",
              "value": "={{ $json.distance }}"
            },
            {
              "name": "page_no",
              "value": "={{ $json.pageNo }}"
            },
            {
              "name": "count",
              "value": "={{ $json.count }}"
            },
            {
              "name": "user_id",
              "value": "={{ $json.userId }}"
            },
            {
              "name": "user_timezone",
              "value": "={{ $json.userTimezone }}"
            },
            {
              "name": "response_flag",
              "value": "={{ $json.responseFlag }}"
            },
            {
              "name": "platform",
              "value": "={{ $json.platform }}"
            },
            {
              "name": "orderMode",
              "value": "={{ $json.orderMode }}"
            },
            {
              "name": "food",
              "value": "={{ $json.food }}"
            },
            {
              "name": "app_token",
              "value": "={{ $json.appToken }}"
            },
            {
              "name": "category_id",
              "value": "={{ $json.category_id }}"
            },
            {
              "name": "offersFreeDelivery",
              "value": "={{ $json.offersFreeDelivery }}"
            },
            {
              "name": "sortBy",
              "value": "={{ $json.sortBy }}"
            },
            {
              "name": "availability",
              "value": "={{ $json.availability }}"
            },
            {
              "name": "itemSearch",
              "value": "={{ $json.itemSearch }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        160
      ],
      "id": "93c724ec-2885-49a8-82bb-b4240ee66f58",
      "name": "Get restaurant api"
    },
    {
      "parameters": {
        "contextWindowLength": 10000
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -1328,
        528
      ],
      "id": "a558e9eb-8fc4-473b-8b48-70c7f4a0b241",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      userData: $input.all()\n    }\n  }\n]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        528
      ],
      "id": "21c20796-4726-4bec-a0c5-14bcde5b3df9",
      "name": "returning user input"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "09cdb1c1-8869-4bdb-a52d-c08a4a344fc0",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1840,
        208
      ],
      "id": "478afbb0-cdc3-4e1e-837b-fd91ca4c36bf",
      "name": "Webhook",
      "webhookId": "09cdb1c1-8869-4bdb-a52d-c08a4a344fc0"
    },
    {
      "parameters": {
        "jsCode": "var chatInput = $input.first().json.body.chatInput\nvar sessionId = $input.first().json.body.sessionId\n\nreturn [\n  {\n    json: {\n      chatInput,\n      sessionId\n    }\n  }\n]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1616,
        256
      ],
      "id": "efca5857-8319-4121-9542-521b3de8a0c6",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      message: $input.first().json.userMessage}\n  }\n]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -432,
        560
      ],
      "id": "4b2cfbc2-371d-4c6f-96e3-30d0a0307d86",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      message: $input.first().json.userMessage}\n  }\n]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -400,
        320
      ],
      "id": "31270b0c-d973-4f38-965a-d6862a01f99a",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "jsCode": "var languageSlug = String($input.first().json.body.languageSlug ?? '')\nvar latitude = String($input.first().json.body.latitude ?? '')\nvar longitude = String($input.first().json.body.longitude ?? '')\nvar distance = String($input.first().json.body.distance ?? '')\nvar pageNo = String($input.first().json.body.pageNo ?? '0')\nvar count = String($input.first().json.body.count ?? '0')\nvar userId = String($input.first().json.body.userId ?? '')\nvar userTimezone = String($input.first().json.body.userTimezone ?? '')\nvar responseFlag = String($input.first().json.body.responseFlag ?? '0')\nvar platform = String($input.first().json.body.platform ?? '')\nvar orderMode = String($input.first().json.body.orderMode ?? '0')\nvar food = String($input.first().json.body.food ?? '')\nvar appToken = String($input.first().json.body.appToken ?? '')\nvar auth = String($input.first().json.body.auth ?? '')\nvar category_id = String($input.first().json.body.category_id ?? '')\nvar offersFreeDelivery = String($input.first().json.body.offersFreeDelivery ?? '0')\nvar sortBy = String($input.first().json.body.sortBy ?? '')\nvar availability = String($input.first().json.body.availability ?? '')\nvar itemSearch = String($input.first().json.body.itemSearch ?? '')\nvar rawAuth = $input.first().json.headers['authorization']\nvar authorizationToken = rawAuth.startsWith('Bearer ') \n  ? rawAuth.slice(7)  // remove \"Bearer \" prefix\n  : rawAuth\n\nreturn [\n  {\n    json: {\n      languageSlug,\n      latitude,\n      longitude,\n      distance,\n      pageNo,\n      count,\n      userId,\n      userTimezone,\n      responseFlag,\n      platform,\n      orderMode,\n      food,\n      appToken,\n      auth,\n      category_id,\n      offersFreeDelivery,\n      sortBy,\n      availability,\n      itemSearch,\n      authorizationToken\n    }\n  }\n]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1360,
        -112
      ],
      "id": "22f4d6e3-85dc-4767-9c3a-e63154c81fe9",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -864,
        80
      ],
      "id": "f176d982-22d3-4c24-9d5f-dfb351cf7ed0",
      "name": "Merge4"
    },
    {
      "parameters": {
        "jsCode": "return[\n  {\n    json: {\n      userInputItem: $input.first().json.output.user_input_item,\n      userInputRestaurant: $input.first().json.output.user_input_restaurant,\n      userInputAddOns: $input.first().json.output.user_input_add_ons,\n      userMessage: $input.first().json.output.user_message,\n      userInputStatus: $input.first().json.output.user_input_status\n    }\n  }\n]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1024,
        256
      ],
      "id": "49f7fa43-0c58-440f-87d0-ee5c55f4ffe8",
      "name": "Code in JavaScript4"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json : {\n      allRestaurantsData: $input.first().json\n    }\n  }\n]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        160
      ],
      "id": "e6f0aee5-38df-4fce-935f-84a3da595797",
      "name": "Code in JavaScript5"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.isRestaurantAvailable }}",
                    "rightValue": 0,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    },
                    "id": "465ba742-63de-4a1a-a713-ee051345bdf6"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "8ba9e57a-7ce4-4abb-81ca-2e278915ef74",
                    "leftValue": "={{ $json.isRestaurantAvailable }}",
                    "rightValue": 1,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1200,
        368
      ],
      "id": "156cfdc6-bde2-4248-bc49-f572ff86a1f2",
      "name": "Switch2"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    message: \"No restaurant found\"\n  }\n}]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1472,
        176
      ],
      "id": "b040eae4-9685-4cfd-96aa-1973fadda28f",
      "name": "Code in JavaScript6"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        992,
        368
      ],
      "id": "816e8941-ef32-40f8-86c8-8dff9cfa95f9",
      "name": "Merge3"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.status }}",
                    "rightValue": 1,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    },
                    "id": "75afc74b-76b7-4400-8c85-136d7b96e0bd"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "f5000b9f-7ae9-4561-9014-ecef9ff68499",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": 1,
                    "operator": {
                      "type": "number",
                      "operation": "notEquals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1824,
        448
      ],
      "id": "06dc7ddb-1d39-40a0-a663-7f424e003eb6",
      "name": "Switch3"
    },
    {
      "parameters": {
        "jsCode": "return {\n  json: {\n    message: $input.first().json.message\n  }\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2144,
        624
      ],
      "id": "78f6c1e6-2b08-4b98-8c66-80b572394dbd",
      "name": "Code in JavaScript7"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mrpdev.eatanceapp.com/v6/api/getRestaurantDetail",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $json.userData[0].json.authorizationToken }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "language_slug",
              "value": "={{ $json.userData[0].json.languageSlug }}"
            },
            {
              "name": "restaurant_id",
              "value": "={{ $json.restaurantId }}"
            },
            {
              "name": "content_id",
              "value": "={{ $json.restaurantId }}"
            },
            {
              "name": "food",
              "value": "=\"\""
            },
            {
              "name": "price",
              "value": "\"\""
            },
            {
              "name": "availability",
              "value": "0"
            },
            {
              "name": "user_id",
              "value": "={{ $json.userData[0].json.userId }}"
            },
            {
              "name": "isEvent",
              "value": "0"
            },
            {
              "name": "send_categories",
              "value": "0"
            },
            {
              "name": "user_timezone",
              "value": "={{ $json.userData[0].json.userTimezone }}"
            },
            {
              "name": "platform",
              "value": "={{ $json.userData[0].json.platform }}"
            },
            {
              "name": "app_token",
              "value": "={{ $json.userData[0].json.appToken }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1456,
        384
      ],
      "id": "0c39415c-ecce-4ccb-9a5f-8d57524b8b92",
      "name": "getRestaurantDetail api"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mrpdev.eatanceapp.com/v6/api/getRestaurantCategories",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $json.userData.authorizationToken }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "language_slug",
              "value": "={{ $json.userData.languageSlug }}"
            },
            {
              "name": "restaurant_id",
              "value": "={{ $json.restaurant[0].restuarant_id }}"
            },
            {
              "name": "app_token",
              "value": "={{ $json.userData.appToken }}"
            },
            {
              "name": "availability",
              "value": "=0"
            },
            {
              "name": "content_id",
              "value": "={{ $json.restaurant[0].restuarant_id }}"
            },
            {
              "name": "food",
              "value": "\"\""
            },
            {
              "name": "isEvent",
              "value": "0"
            },
            {
              "name": "platform",
              "value": "={{ $json.userData.platform }}"
            },
            {
              "name": "price",
              "value": "\"\""
            },
            {
              "name": "user_timezone",
              "value": "={{ $json.userData.userTimezone }}"
            },
            {
              "name": "category_id",
              "value": "\"\""
            },
            {
              "name": "count",
              "value": "10"
            },
            {
              "name": "page_no",
              "value": "1"
            },
            {
              "name": "send_foodtypes",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2336,
        96
      ],
      "id": "460601c9-e261-4a05-b9b5-4ab1df369afd",
      "name": "getRestaurantCategories api"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mrpdev.eatanceapp.com/v6/api/searchRestaurantMenu",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $json.userData.authorizationToken }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "app_token",
              "value": "={{ $json.userData.appToken }}"
            },
            {
              "name": "assigned_food_types",
              "value": "={{ $json.assigned_food_types }}"
            },
            {
              "name": "availability",
              "value": "={{0}}"
            },
            {
              "name": "content_id",
              "value": "={{ $json.contentId }}"
            },
            {
              "name": "count",
              "value": "={{10}}"
            },
            {
              "name": "food",
              "value": "={{ \"\" }}"
            },
            {
              "name": "item_type",
              "value": "={{\"1\"}}"
            },
            {
              "name": "language_slug",
              "value": "={{ $json.userData.languageSlug }}"
            },
            {
              "name": "menu_search",
              "value": "={{ $json.userData.userInputItem }}"
            },
            {
              "name": "page_no",
              "value": "={{1}}"
            },
            {
              "name": "platform",
              "value": "={{ $json.userData.platform }}"
            },
            {
              "name": "price",
              "value": "={{\"\"}}"
            },
            {
              "name": "restaurant_id",
              "value": "={{ $json.restaurantId }}"
            },
            {
              "name": "shouldShowKeyboard",
              "value": "={{true}}"
            },
            {
              "name": "user_timezone",
              "value": "={{ $json.userData.userTimezone }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3344,
        -112
      ],
      "id": "6b07b540-b9dc-4a1f-af4e-91f84a44a266",
      "name": "searchRestaurantMenu api"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.status }}",
                    "rightValue": 1,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    },
                    "id": "75afc74b-76b7-4400-8c85-136d7b96e0bd"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "f5000b9f-7ae9-4561-9014-ecef9ff68499",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": 1,
                    "operator": {
                      "type": "number",
                      "operation": "notEquals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        2992,
        128
      ],
      "id": "22a81fa1-f789-48cd-9fed-18f0cc31f0ba",
      "name": "Switch4"
    },
    {
      "parameters": {
        "jsCode": "return {\n  json: {\n    message: $input.first().json.message\n  }\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3344,
        272
      ],
      "id": "ebe437d7-1d4f-475e-a0db-8e0ccef7b1ff",
      "name": "Code in JavaScript8"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.restaurant[0].timings.closing.toLowerCase() }}",
                    "rightValue": "open",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "a0e10247-d94c-4482-9413-b5adf41764bd"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "16ddb3e9-6dc2-4fae-8745-7237a87ce0ad",
                    "leftValue": "={{ $json.restaurant[0].timings.closing.toLowerCase() }}",
                    "rightValue": "open",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        2000,
        288
      ],
      "id": "b5313c79-d9a4-46b3-97a7-048e51e54cf9",
      "name": "Switch5"
    },
    {
      "parameters": {
        "jsCode": "return {\n  json: {\n    message: $input.first().json.message\n  }\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2240,
        400
      ],
      "id": "b4c36329-720a-46ac-9039-755513784dce",
      "name": "Code in JavaScript9"
    },
    {
      "parameters": {
        "jsCode": "return {\n  json: {\n     userData: $input.first().json.userData[0].json\n  }\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1376,
        576
      ],
      "id": "4ff71c39-c0dc-4709-a12f-6c45cc2fd90c",
      "name": "Code in JavaScript10"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1648,
        448
      ],
      "id": "654e3041-1ae5-49ca-9fff-de05b35d654d",
      "name": "Merge6"
    },
    {
      "parameters": {
        "jsCode": "return {\n  json: {\n     userData: $input.first().json.userData,\n    restaurantId: $input.first().json.restaurant[0].restuarant_id,\n    contentId: $input.first().json.restaurant[0].content_id\n  }\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2432,
        272
      ],
      "id": "ee795993-d5c1-4fd3-abd8-fd639bd762cb",
      "name": "Code in JavaScript11"
    },
    {
      "parameters": {
        "jsCode": "return {\n  json: {\n     userData: $input.first().json.userData,\n    restaurantId: $input.first().json.restaurantId,\n    contentId: $input.first().json.contentId\n  }\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3344,
        112
      ],
      "id": "cb14de50-58f0-436d-9094-754055544acd",
      "name": "Code in JavaScript12"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3648,
        0
      ],
      "id": "b7e8f6dd-d5f3-4619-897c-a2b054d37a44",
      "name": "Merge7"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.status }}",
                    "rightValue": 1,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    },
                    "id": "75afc74b-76b7-4400-8c85-136d7b96e0bd"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "f5000b9f-7ae9-4561-9014-ecef9ff68499",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": 1,
                    "operator": {
                      "type": "number",
                      "operation": "notEquals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        3856,
        0
      ],
      "id": "2470c067-21f7-4efb-9674-eb177409cfc2",
      "name": "Switch6"
    },
    {
      "parameters": {
        "jsCode": "return {\n  json: {\n    message: $input.first().json.message\n  }\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4048,
        96
      ],
      "id": "6fd342e1-8961-4991-b304-f8e18aff2134",
      "name": "Code in JavaScript13"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2688,
        128
      ],
      "id": "72149ea4-12df-4294-8e5f-a2b329a86afc",
      "name": "Merge5"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mrpdev.eatanceapp.com/v6/api/addtoCart",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $json.userData.authorizationToken }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "app_token",
              "value": "={{ $json.userData.appToken }}"
            },
            {
              "name": "cart_id",
              "value": "={{0}}"
            },
            {
              "name": "coupon_array",
              "value": "={{[]}}"
            },
            {
              "name": "driver_tip",
              "value": "={{ \"\" }}"
            },
            {
              "name": "=earning_points",
              "value": "={{ \"\" }}"
            },
            {
              "name": "is_creditcard",
              "value": "={{\"no\"}}"
            },
            {
              "name": "isLoggedIn",
              "value": "={{ 1 }}"
            },
            {
              "name": "is_wallet_applied",
              "value": "={{ 0 }}"
            },
            {
              "name": "items"
            },
            {
              "name": "language_slug",
              "value": "={{ $json.userData.languageSlug }}"
            },
            {
              "name": "latitude",
              "value": "={{ $json.userData.latitude }}"
            },
            {
              "name": "longitude",
              "value": "={{ $json.userData.longitude }}"
            },
            {
              "name": "order_delivery",
              "value": "={{ \"Pickup\" }}"
            },
            {
              "name": "platform",
              "value": "={{ $json.userData.platform }}"
            },
            {
              "name": "restaurant_id",
              "value": "={{ $json.restaurantId }}"
            },
            {
              "name": "scheduled_date",
              "value": "={{ \"\" }}"
            },
            {
              "name": "slot_close_time",
              "value": "={{ \"\" }}"
            },
            {
              "name": "slot_open_time",
              "value": "={{ \"\" }}"
            },
            {
              "name": "tip_percent_val",
              "value": "={{ \"\" }}"
            },
            {
              "name": "user_id",
              "value": "={{ $json.userData.userId }}"
            },
            {
              "name": "user_timezone",
              "value": "={{ $json.userData.userTimezone }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        4048,
        -112
      ],
      "id": "b14d29bf-6755-4912-8479-06e0f3a85c05",
      "name": "addtoCart  api"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.status }}",
                    "rightValue": 1,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    },
                    "id": "75afc74b-76b7-4400-8c85-136d7b96e0bd"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "f5000b9f-7ae9-4561-9014-ecef9ff68499",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": 1,
                    "operator": {
                      "type": "number",
                      "operation": "notEquals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        4288,
        -112
      ],
      "id": "5d02b3bd-dffc-4730-8bac-f7ce20593649",
      "name": "Switch7"
    },
    {
      "parameters": {
        "jsCode": "return {\n  json: {\n    message: $input.first().json.message\n  }\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4528,
        0
      ],
      "id": "e2c534ab-b7c3-401f-87db-eb6961e0e8da",
      "name": "Code in JavaScript14"
    },
    {
      "parameters": {
        "jsCode": "return {\n  json: {\n    message: $input.first().json.message\n  }\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4528,
        -208
      ],
      "id": "a1482441-d62d-4366-ba29-3dba1a434d39",
      "name": "Code in JavaScript15"
    }
  ],
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "no item name",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "no restaurant name",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "returning user input",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get restaurant api",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "handle api": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "handle api",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get restaurant api": {
      "main": [
        [
          {
            "node": "Code in JavaScript5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "returning user input": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          },
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge4": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript4": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Code in JavaScript5": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "Code in JavaScript6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "getRestaurantDetail api",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code in JavaScript10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch3": {
      "main": [
        [
          {
            "node": "Switch5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getRestaurantDetail api": {
      "main": [
        [
          {
            "node": "Merge6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getRestaurantCategories api": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "searchRestaurantMenu api": {
      "main": [
        [
          {
            "node": "Merge7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch4": {
      "main": [
        [
          {
            "node": "searchRestaurantMenu api",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code in JavaScript12",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch5": {
      "main": [
        [
          {
            "node": "getRestaurantCategories api",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code in JavaScript11",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript10": {
      "main": [
        [
          {
            "node": "Merge6",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge6": {
      "main": [
        [
          {
            "node": "Switch3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript11": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Code in JavaScript12": {
      "main": [
        [
          {
            "node": "Merge7",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge7": {
      "main": [
        [
          {
            "node": "Switch6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch6": {
      "main": [
        [
          {
            "node": "addtoCart  api",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge5": {
      "main": [
        [
          {
            "node": "Switch4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "addtoCart  api": {
      "main": [
        [
          {
            "node": "Switch7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch7": {
      "main": [
        [
          {
            "node": "Code in JavaScript15",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "31d9acb98c3ce8fa7b2a395404d4efc174b91427ba0c89d37d9cfc3f77c83967"
  }
}
